// Breakpoints
$bp-mobile: 600px;
// Colors
$c-background-primary: #fff;
$c-background-secondary: #5db77a;
$c-text: #000;
// Sizes
$s-content-spacing: 80px;
$s-layout-width: 570px;
$s-letter-spacing: 0.4pt;
$s-line-height: 2;
$s-text: 10pt;
